/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-oct-2019, 11:44:04
    Author     : luisangelmendozalucio
*/

.container-products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin: 100px auto;
}

.col-4 {
    width: 25%;
    max-width: 25%;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    max-width: 350px;
    text-decoration: none;
}

.product-card-header{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    color: #525252;
    background-color: #e8e8e8;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    font-size: 19px;
    justify-content: space-between;
}

.product-card-body {
    height: 300px;
    width: 100%;
    padding: 5px 10px;
    transition: all 0.3s;
    overflow: hidden;
}

.product-card-footer {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #cfcfcf;
}

.product-card-body img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.product-card-body:hover img {
    transform: scale(1.2);
    transition: all 0.3s;
}

.btn-add-car, .btn-delete, .btn-edit {
    height: 30px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 2px;
    padding: 3px 10px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-add-car {
    background-color: blue;
}

.btn-delete {
    background-color: red;
}

.btn-edit {
    background-color: orange;
}

.search-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 64px;
}

.search-product input {
    border: none;
    border: 1px solid #cacaca;
    padding: 5px 7px;
    text-align: center;
    color: #c8c8c8;
    outline: none;
    margin-top: 70px;
    width: 78%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}


