/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-oct-2019, 13:39:50
    Author     : luisangelmendozalucio
*/


.info {
    height: 392px;
    position: relative;
    padding: 0 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.title {
    font-size: 19px;
    font-weight: bold;
}

.d-flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.input-control {
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    border: 1px solid #e8e8e8;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
}

.pos-absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}